<style>
html,body {
  font-family: "Lato", sans-serif;
  margin:0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFFFFF;
}
#main {
  padding: 0px;
  margin-left: 210px;
  width: 100wv;
}
.card{
  background-color:grey;
}
</style>
<% # frozen_string_literal: true %>
<body id="main"style="background-color: #848494;">
  <div id="mySidenav" class="sidenav">
    <a id="head">Followed Channel</a>
    <% @channel_followed.each do |channel| %>
          <a href="channels/<%= channel.id %>" ><%= channel.channel_name %></a>  
    <% end %>
  </div>
  <div class="row justify-content-start">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand" href="/main">Home</a>
          <a class="navbar-brand" href="/tag">Tag</a>
          <a class="navbar-brand" href="#">All Channel</a>
          <a class="navbar-brand" href="/channels/new">Your channel</a>
        </div>
      </div>
      <div style="margin-right:30px">
        <%= button_to "Log-out" ,"/login" ,class:"btn btn-primary", style: "background-color: #6441a5;" %>
      </div>
    </nav>
  </div>
  <div>
    <%= render 'form', channel: @channel %>
    <%= link_to 'Back', channels_path %>
  </div>
</body>