<style>
html,body {
  font-family: "Lato", sans-serif;
  margin:0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFFFFF;
}
#main {
  padding: 0px;
  margin-left: 210px;
  width: 100wv;
}
ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
</style>
<% # frozen_string_literal: true %>
<body id="main"style="background-color: #848494;">
  <div id="mySidenav" class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <div class="row justify-content-start">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand" href="/main">Home</a>
          <a class="navbar-brand" href="select_tag">Tag</a>
          <a class="navbar-brand" href="/all_channel">All Channel</a>
        </div>
      </div>
      <div style="margin-right:30px">
        <%= button_to "Log-out" ,"/login" ,class:"btn btn-primary", style: "background-color: #6441a5;" %>
      </div>
    </nav>
  </div>
  <div>
      <%= button_to "Upload Video" ,"/videos/new" ,class:"btn btn-primary mt-2 " ,style: "background-color: #6441a5; color:white;" ,method:"get" %>
  </div>
  <table border="5px">
    <tr>
      <% @allvideo.each do |video| %>
      <td>
        <div class="card" style="width: 18rem;">
          <%= image_tag(video.thumbnail , style:'width:100%; height:auto') %>
          <div class="card-body">
            <h5 class="card-title">Tittle: <%= video.title %></h5>
            <p class="card-text"><%= video.description %></p>
            <a href="http://127.0.0.1:3000/videos/<%= video.id %>" class="btn btn-primary">Watch Now!!</a>
            <a href="tag/<%= video.tag %>" class="btn btn-primary" style="background-color:#6441a5;"> Tag: <%= video.tag %> </a>
          </div>
        </div>
      </td>
      <% end %>
      </tr>
    </table>
  </div>
</body>